<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="icon" type="image/png" href="/static/img/logo-removebg-preview.png">


</head>
<body>
<div class="artista_log" id="form">
    <form action="cadastrar_restaurante" method="post">
            <label>Nome do Estabelecimento</label>
            <input type="text" name="nome">
            <br>
            <label>Telefone</label>
            <input type="text" name="telefone" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            <br>
            <label>CNPJ</label>
            <input type="text" name="cnpj" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            <br>
            <label>CEP</label>
            <input type="text" name="cep" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            <br>
            <label>Email</label>
            <input type="text" name="email">
            <br>
            <label>Senha</label>
            <input type="password" name="senha">
            <button>Cadastrar</button>
    </form>
</div>



 

    <script src="https://kit.fontawesome.com/d47de159c9.js" crossorigin="anonymous"></script>
</body>
</html>